* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #282D35;s
  height: 100vh;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  padding: 30px 25px;
  height: 90px;
}

.nav-logo {
  display: flex;
  margin-right: auto;
}

.nav-logo > img {
  margin-right: 7px;
}

.nav-logo > h3{
  color: #61DAFB;
  font-size: 22px;
}

.nav-items > h4 {
  display: flex;
  color: #DEEBF8;
  font-weight: 600;
}

.no-bullets {
  list-style-type: none;
}

main {
  padding: 57px 27px;
  color: white;
}

.main--title {
  margin: 0
  font-size: 39px;
}